:root {
  --primary-color: #7957d5;
  --primary-bg-color-light: #f2effb;
  --primary-color-light: #552fbc;

  --success-bg-color: #48c78e;
  --success-bg-color-light: #effaf5;
  --success-color-light: #257953;

  --danger-bg-color: #f14668;
  --danger-bg-color-light: #feecf0;
  --danger-color-light: #cc0f35;

  --warning-bg-color: #ffe08a;
  --warning-color: rgba(0, 0, 0, 0.7);
  --warning-border-color-outlined: #ffe08a;
  --warning-color-outlined: rgba(0, 0, 0, 0.7);
  --warning-bg-color-light: #fffaeb;
  --warning-color-light: #946c00;

  --info-bg-color: #3e8ed0;
  --info-color-outlined: #3e8ed0;
  --info-bg-color-light: #eff5fb;
  --info-color-light: #296fa8;

  --link-bg-color: #485fc7;
  --link-bg-color-light: #eff1fa;
  --link-color-light: #3850b7;

  --light-bg-color: #f5f5f5;
  --light-color: rgba(0, 0, 0, 0.7);

  --dark-bg-color: #363636;

  --text-color: #4a4a4a;

  --ghost-color: #7957d5;

  --button-border-color: #dbdbdb;
  --button-color: #363636;
  --button-hover-shadow: rgba(0, 0, 0, 0.2px);
  --button-border-color-disabled: #dbdbdb;
}
.primary {
  background-color: var(--primary-color);
  color: white;
}

.primary.outlined {
  border-color: var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}
.primary.light {
  background-color: var(--primary-bg-color-light);
  color: var(--primary-color-light);
}
.success {
  background-color: var(--success-bg-color);
  color: white;
}

.success.outlined {
  border-color: var(--success-bg-color);
  background-color: white;
  color: var(--success-bg-color);
}
.success.light {
  background-color: var(--success-bg-color-light);
  color: var(--success-color-light);
}
.danger {
  background-color: var(--danger-bg-color);
  color: white;
}
.danger.outlined {
  background-color: white;
  border-color: var(--danger-bg-color);
  color: var(--danger-bg-color);
}
.danger.light {
  background-color: var(--danger-bg-color-light);
  color: var(--danger-color-light);
}
.warning {
  background-color: var(--warning-bg-color);
  color: var(--warning-color);
}
.warning.outlined {
  background-color: white;
  border-color: var(--warning-border-color-outlined);
  color: var(--warning-color-outlined);
}
.warning.light {
  background-color: var(--warning-bg-color-light);
  color: var(--warning-color-light);
}
.info {
  background-color: var(--info-bg-color);
  color: white;
}
.info.outlined {
  background-color: white;
  border-color: var(--info-bg-color-light);
  color: var(--info-color-outlined);
}
.info.light {
  background-color: var(--info-bg-color-light);
  color: var(--info-color-light);
}
.link {
  background-color: var(--link-bg-color);
  border-color: transparent;
  color: #fff;
}
.link.light {
  background-color: var(--link-bg-color-light);
  color: var(--link-color-light);
}
.light {
  background-color: var(--light-bg-color);
  border-color: transparent;
  color: var(--var-color);
}
.dark {
  background-color: var(--dark-bg-color);
  border-color: transparent;
  color: #fff;
}
.text {
  background-color: transparent;
  border-color: transparent;
  color: var(--text-color);
  text-decoration: underline;
}
.ghost {
  background: none;
  border-color: transparent;
  color: var(--ghost-color);
  text-decoration: none;
}
.rounded {
  border-radius: 9999px;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.expanded {
  width: 100%;
}
button {
  background-color: #fff;
  border-width: 1px;
  border-radius: 5px;
  color: var(--button-color);
  cursor: pointer;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  padding: 8px 12px;
  margin: 5px 9px;
}
button::hover {
  box-shadow: 1px 2px 3px var(--button-hover-shadow);
}
button:active {
  color: white;
  background-color: lightgray;
  border: 1px solid gray;
}
button[disabled] {
  background-color: #fff;
  border-color: var(--button-border-color-disabled);
/*   box-shadow: none;
 */  opacity: 0.5;
}
